.banner {
	background-image: linear-gradient(-225deg, rgba(131, 74, 69, 0.8) 0%, rgba(243, 221, 212, 0.2) 50%), url(../../images/backgroundpic.jpg);
	padding: 150px 0px;
	color: white;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px;
	font-weight: bold;
}

.banner h2 {
	font-size: 30px;
	font-family: Roboto, sans-serif;
	font-weight: light;
	opacity: 0.8;
	margin-bottom: 40px;
}